body {
    margin: 0;
    padding: 0;
}

.about {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}

#completeContainer {
}


.icon {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: calc(25px + 0.5vw);
    margin-top: calc(22px + 0.2vw);
    margin-left: 10px;
}

#itemHeader {
    height: 80px;
    z-index: 100;
    width: 100%;
    display: block;
    background-color: rgb(0, 51, 102);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
}

#sideNav {
    display: block;
    background-color: #bdbdbd;
    color: black;
    height: calc(100% - 80px);
    width: 100px;
    padding-right: 10px;
    font-family: Arial;
    font-size: 17px;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
    margin-top: 80px;
}

.Slides {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(90% - 40px);
    max-width: 600px;
}

.Videos {
    float: left;
    margin-right: 20px;
    margin-left: calc(10% + 20px);
    width: calc(90% - 40px);
    max-width: 600px;
}

#VideoLeft {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(90% - 40px);
    max-width: 600px;
}

#smallcaret {
    font-size: 12px;
}
#smallcaretExp {
    font-size: 12px;
}

.leftSlideBox{
    width: 50%;
    float: left;
}

.rightSlideBox {
    width: 50%;
    float: right;
}

.buttonBoxLeft {
    float: left;
    clear: both;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(90% - 40px);
    max-width: 600px;
}

.buttonBoxRight {
    float: left;
    clear: both;
    vertical-align: top;
    margin-left: calc(10% + 20px);
    margin-right: 20px;
    width: calc(90% - 40px);
    max-width: 600px;
}

.block {
    display: block;
    background-color: #bdbdbd;
    opacity: 0.7;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

.ExpBlock {
    display: none;
    background-color: #bdbdbd;
    opacity: 0.7;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

    .ExpBlock:hover {
        background-color: #9e9e9e;
        text-decoration: none;
        cursor: pointer;
    }

#selectedBlock {
    display: block;
    background-color: #ffee58;
    opacity: 0.7;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

.MajorBlock {
    display: none;
    background-color: #eeeeee;
    opacity: 0.7;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

.block:hover {
    background-color: #9e9e9e;
    text-decoration: none;
    cursor: pointer;
}

.MajorBlock:hover {
    background-color: #b0bec5;
    text-decoration: none;
    cursor: pointer;
}

#selectedBlock:hover {
    background-color: #fdd835;
    text-decoration: none;
    cursor: pointer;
}

#Home {
}

html {
    scroll-behavior: smooth;
}

.contact {
    color: White;
    font-size: calc(11px + 0.5vw);
    font-family: Arial;
    margin-right: 23px;
    margin-left:23px;
}

.table1 {
    grid-area: t1;
    background-color: #f5f5f5;
    color: black;
    padding: 20px 20px;
}

.table2 {
    grid-area: t2;
    background-color: #f5f5f5;
    color: black;
    padding: 20px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.table3 {
    grid-area: t3;
    background-color: #f5f5f5;
    color: black;
    padding: 20px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.table4 {
    grid-area: t4;
    background-color: #f5f5f5;
    color: black;
    padding: 20px 20px;
}

.table5 {
    grid-area: t5;
    background-color: #f5f5f5;
    color: black;
    padding: 20px 20px;
}

.table6 {
    grid-area: t6;
    background-color: #f5f5f5;
    color: black;
    padding: 20px 20px;
}

.topText {
    font-size: 30px;
    margin-left: 20px;
}

.headerLeft {
    float: left;
    font-size: 25px;
    margin-left: 20px;
}

.headerRight {
    float: left;
    font-size: 25px;
    margin-left: calc(20px + 10%);
}

#features {
}

.belowButton {
    display: block;
    background-color: #bdbdbd;
    text-align: center;
    text-decoration: none;
    width: 180px;
    padding: 12px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.belowButton:hover {
    background-color: #ffee58;
}


.detailsButton {
    background-color: #bdbdbd;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 12px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .detailsButton:hover {
        background-color: #ffee58;
    }

.title {
    position: absolute;
}


.item5 {
    grid-area: footer;
    background-color: rgb(0, 51, 102);
}

.footer2 {
    grid-area: f2;
    background-color: rgb(0, 51, 102);
}

.footer3 {
    grid-area: f3;
    background-color: rgb(0, 51, 102);
}



.grid-container {
    margin-top: 60px;
    width: calc(100% - 100px);
    margin-left: 100px;
    display: grid;
    position: absolute;
    grid-template-areas: 't1 t1 t1 t1 t1 t1' 't2 t2 t2 t2 t2 t2' 't3 t3 t3 t3 t3 t3' 't4 t4 t4 t4 t4 t4' 't5 t5 t5 t5 t5 t5' 't6 t6 t6 t6 t6 t6' 'footer footer f2 f2 f3 f3';
    background-color: #2196F3;
}

    .grid-container > div {
        font-family: Arial;
        font-size: calc(20px + 0.25vw);
    }


.leftMenus {
    color: White;
    font-size: calc(16px + 0.5vw);
    float: left;
    padding-right: 20px;
    margin-top: calc(25px + 0.2vw);
    font-family: Arial;
    margin-left: 25px;
}

.rightMenus {
    color: White;
    font-size: calc(10px + 0.5vw);
    padding-right: 15px;
    float: right;
    margin-top: calc(29px + 0.1vw);
    font-family: Arial;
}

.rightURL {
    color: white;
    padding-left: 5px;
    padding-right: calc(4px + 1vw);
}

    .rightURL:hover {
        cursor: pointer;
    }

    .rightURL:visited {
        color: white;
        text-decoration: none;
    }

    .rightURL:link {
        color: white;
        text-decoration: none;
    }

    .rightURL:hover {
        color: white;
        text-decoration: none;
    }

    .rightURL:active {
        color: white;
        text-decoration: none;
    }

    .rightURL:active {
        color: white;
        text-decoration: none;
    }

.leftMenus {
    color: white;
}

    .leftMenus:hover {
        cursor: pointer;
    }

    .leftMenus:visited {
        color: white;
        text-decoration: none;
    }

    .leftMenus:link {
        color: white;
        text-decoration: none;
    }

    .leftMenus:hover {
        color: white;
        text-decoration: none;
    }

    .leftMenus:active {
        color: white;
        text-decoration: none;
    }

    .leftMenus:active {
        color: white;
        text-decoration: none;
    }

.footerText {
    color: white;
}

    .footerText:hover {
        cursor: pointer;
    }

    .footerText:visited {
        color: white;
        text-decoration: none;
    }

    .footerText:link {
        color: white;
        text-decoration: none;
    }

    .footerText:hover {
        color: white;
        text-decoration: none;
    }

    .footerText:active {
        color: white;
        text-decoration: none;
    }

    .footerText:active {
        color: white;
        text-decoration: none;
    }


@media only screen and (max-width: 800px) {
    .table1 {
        flex-direction: column;
    }
    
    .table2 {
        flex-direction: column;
    }

    .table3 {
        flex-direction: column;
    }

    .table4 {
        flex-direction: column;
    }

    .table5 {
        flex-direction: column;
    }

    .table6 {
        flex-direction: column;
    }

    .rightSlideBox {
        width: calc(100% - 40px);
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }

    .leftSlideBox {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }

    .headerLeft {
        margin-left: auto;
        margin-right: auto;
    }

    .headerRight {
        margin-left: auto;
        margin-right: auto;
    }

    .Videos {
        width: 100%;
        margin: 0 0;
    }

    .Slides {
        width: 100%;
        margin: 0 0;
    }

    #VideoLeft {
        width: 100%;
        margin: 0 0;
    }

    .buttonBoxLeft {
        margin: 0 0;
        width: 100%;
        vertical-align: top;
    }

    .buttonBoxRight {
        margin: 0 0;
        width: 100%;
        vertical-align: top;
    }


    .belowButton {
        width: auto;
        display: block;
    }

    .detailsButton {
        width: auto;
        display: block;
    }

    #sideNav {
        display: none;
        position: absolute;
    }

    .icon {
        display: block;
    }

    .grid-container {
        margin-left: 0px;
        width: 100%;
    }

    .leftMenus {
        margin-left: 45px;
    }

    .rightMenus {
        display: none;
    }

    .block {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
    }

    .MajorBlock {
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
    }

    #selectedBlock {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
    }

    .ExpBlock {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
    }
}